/*
 * Holy Child Montessori
 * 2019
 *
 * montessori.css
 *
 * */

@font-face {
  font-family: "Rubik";
  src: url(fonts/rubik/Rubik-Regular.ttf);
}

@font-face {
  font-family: "Rubik Black";
  src: url(fonts/rubik/Rubik-Black.ttf);
}

@font-face {
  font-family: "Rubik Bold";
  src: url(fonts/rubik/Rubik-Bold.ttf);
}

@font-face {
  font-family: "Rubik Light";
  src: url(fonts/rubik/Rubik-Light.ttf);
}

@font-face {
  font-family: "Rubik Medium";
  src: url(fonts/rubik/Rubik-Medium.ttf);
}

@font-face {
  font-family: "Rubik Italic",
  src: url(fonts/rubik/Rubik_Italic.ttf);
}

:root {

  /* colors */
  --primary-dark3: #1b5233;
  --primary-dark2: #21653f;
  --primary-dark1: #28784b;
  --primary: #2e8b57;
  --primary-light1: #349e63;
  --primary-light2: #3bb16f;
  --primary-light3: #44c17b;

  --bg: #EBFDF3;
  --bg2: #F8FFFB;

  --rubik: "Rubik", sans-serif;
  --rubik-medium: "Rubik Medium", sans-serif;
  --rubik-light: "Rubik Light", sans-serif;
  --rubik-bold: "Rubik Bold", sans-serif;
  --rubik-black: "Rubik Black", sans-serif;
  --rubik-italic: "Rubik Italic", sans-serif;

}

.primary-dark3 { background-color: var(--primary-dark3) !important; }
.primary-dark2 { background-color: var(--primary-dark2) !important; }
.primary-dark1 { background-color: var(--primary-dark1) !important; }
.primary { background-color: var(--primary) !important; }
.primary-light1 { background-color: var(--primary-light1) !important; }
.primary-light2 { background-color: var(--primary-light2) !important; }
.primary-light3 { background-color: var(--primary-light3) !important; }

.primary-dark3-text { color: var(--primary-dark3) !important; }
.primary-dark2-text { color: var(--primary-dark2) !important; }
.primary-dark1-text { color: var(--primary-dark1) !important; }
.primary-text { color: var(--primary) !important; }
.primary-light1-text { color: var(--primary-light1) !important; }
.primary-light2-text { color: var(--primary-light2) !important; }
.primary-light3-text { color: var(--primary-light3) !important; }

.bg { background-color: var(--bg) !important; }
.bg2 { background-color: var(--bg2) !important; }

.bg-text { color: var(--bg) !important; }
.bg2-text { color: var(--bg2) !important; }


body {
  font-family: var(--rubik) !important;
  margin:0;
  padding:0;
  overflow-x: hidden;  
}

.squircle {
  border-radius: 0 0 40px 0 !important;
}

.squircle-left {
  border-radius: 0 0 0 40px !important;
}

.squircle-bottom {
  border-radius: 0 0 40px 40px !important;
}

.hotdog {
  border-radius: 40px 40px 40px 40px !important;
}

.halfdog-left {
  border-radius: 40px 0 0 40px !important;
}


/*
 * COMPONENTS
 * */

.menu {
  border-radius: 0 0 0 20px !important;
  position:fixed;
  background-color: var(--primary) !important;
  width:80px;
  height: 80px;
  right:0px;
  top:0px;
  padding:2px;
  color: #FFFF;
}

.jumbo-text {
  margin:0;
  padding-left:20%;
  padding-right:40%;
  padding-top: 3%;
}
.jumbo-text > h1 {
  font-size:6rem;
}

.jumbo-image {
  position:absolute;
  left:25%;
  top:32%;
  width:700px;
  overflow-x:hidden;
}

.logo {
  position:absolute;
  top:0;
  left:0;
  padding-top:20px;
  padding-left:20px;
  padding-bottom: 20px;
  margin:0;
  width:150px;
}

/**
 * MOBILE PHONES
 * 
 */

@media only screen and (max-width:700px){
  .logo {
   padding-top: 10px;
   padding-left:10px;
   padding-bottom:10px;
   width:95px;
  }
  .logo > img {
    width: 80px !important;
  }

  .menu {
    width:50px;
    height:50px;
  }

  .jumbo-text {
    padding-left:10%;
    padding-right:10%;
    padding-top:18%;
  }
  .jumbo-text > h1{
    font-size:4rem;
  }

  .jumbo-image {
    top:45%;
    left:10%;
    width:450px !important;
  }
}
